body {
    font-family: Arial, sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #abdaef;
}

#searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 40rem;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#similarMovies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}




